@charset "UTF-8";
@font-face {
  font-family: 'plumbB', sans-serif;
  src: url("../fonts/Plumb/PlumbBoldC.ttf");
}

@font-face {
  font-family: 'plumbM';
  src: url("../fonts/Plumb/PlumbMediumC.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'plumbL';
  src: url("../fonts/Plumb/PlumbLightС.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'plumbR';
  src: url("../fonts/Plumb/plumbcondensed-regular.ttf");
  font-weight: 400;
}

.header {
  max-width: 1105px;
  margin: 15px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__download {
  margin-top: 15px;
  margin-right: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__download-link {
  text-decoration: none;
  color: black;
  font-family: 'plumb', sans-serif;
  font-size: 15px;
}

.header p {
  margin-bottom: 0;
  margin-left: 180px;
  font-size: 13px;
  font-family: 'plumb-regular', sans-serif;
}

.header__download-mobile {
  display: none;
}

@media screen and (max-width: 1080px) {
  .header {
    margin-top: 30px;
    max-width: 1080px;
  }
  .header p {
    display: none;
  }
  .header__download {
    display: none;
  }
  .header__download-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .mobile__download-link {
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  .download-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 320px;
    height: 66px;
    -webkit-transform: skew(330deg);
            transform: skew(330deg);
    background: #39A3DC;
  }
}

@media screen and (max-width: 840px) {
  .header {
    margin-top: 10px;
    max-width: 360px;
    margin-bottom: 0;
  }
  .header p {
    display: none;
  }
  .header__download {
    display: none;
  }
  .header__download-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .mobile__download-link {
    font-size: 8px;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  .download-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 145px;
    height: 22px;
    -webkit-transform: skew(330deg);
            transform: skew(330deg);
    background: #39A3DC;
  }
}

.main {
  max-width: 1105px;
  margin: auto;
}

.main .conference {
  font-family: 'plumbM', sans-serif;
  grid-area: conference;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 26px;
  width: 168px;
  margin-left: 180px;
}

.main__information {
  grid-area: information;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__information h2 {
  display: none;
}

.main__information img:first-child {
  max-width: 600px;
}

.main__theme {
  margin-left: 180px;
}

.main__theme h2 {
  margin-top: 45px;
  font-family: 'plumb', sans-serif;
  max-width: 600px;
  color: #2FA6DD;
  font-size: 48px;
}

.main__theme p {
  font-family: 'plumbM', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 18px;
}

.main__theme ul {
  margin: 0;
  list-style-type: '-';
  padding-left: 4px;
}

.main__theme li {
  font-family: 'plumbR', sans-serif;
  font-size: 16px;
  padding-top: 20px;
  width: 270px;
}

.information__block {
  margin-top: 35px;
}

.information__date {
  font-family: 'plumb', sans-serif;
  margin-right: 180px;
  font-size: 29px;
  margin-top: 0;
}

.information__block p:not(:last-child) {
  font-family: 'plumbM', sans-serif;
  width: 95px;
  font-size: 26px;
  margin: 0;
}

.information__block p:last-child {
  font-family: 'plumbR', sans-serif;
  font-size: 20px;
  margin: 0;
}

.information__date-mobile {
  display: none;
}

.information__place-mobile {
  display: none;
}

@media screen and (max-width: 1080px) {
  .main {
    display: -ms-grid;
    display: grid;
    max-width: 1080px;
        grid-template-areas: 'conference' 'information' 'theme' 'partners' 'contacts';
  }
  .main .conference {
    font-size: 30px;
    margin-left: 350px;
    margin-top: 80px;
  }
  .main__information {
    max-width: 880px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 50px;
  }
  .main__information img:first-child {
    max-width: 872px;
  }
  .main__information h2 {
    display: block;
    max-width: 590px;
    color: #2FA6DD;
    font-size: 55px;
    margin-left: 250px;
    margin-top: 65px;
  }
  .main__theme {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: theme;
    margin-left: 350px;
    margin-bottom: 125px;
  }
  .main__theme p:not(:last-child) {
    font-size: 32px;
    margin: 0;
  }
  .main__theme p:nth-child(5) {
    font-size: 24px;
    margin-top: 110px;
  }
  .main__theme h3 {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 0;
  }
  .main__theme h2 {
    display: none;
  }
  .main__theme li {
    font-size: 22px;
    padding-top: 50px;
    width: 500px;
  }
  .information__block {
    display: none;
  }
  .information__date-mobile {
    display: block;
    font-size: 29px;
    margin-top: 0;
  }
  .information__place-mobile {
    display: block;
  }
}

@media screen and (max-width: 840px) {
  .main {
    display: -ms-grid;
    display: grid;
    max-width: 360px;
        grid-template-areas: 'conference' 'information' 'theme' 'partners' 'contacts';
  }
  .main .conference {
    font-size: 10px;
    margin-left: 87px;
    margin-top: 25px;
  }
  .main img:first-child {
    max-width: 290px;
    margin-left: 0px;
  }
  .main__information {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .main__information h2 {
    display: block;
    max-width: 250px;
    color: #2FA6DD;
    font-size: 18px;
    margin-left: 85px;
    margin-top: 20px;
  }
  .main__theme {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: theme;
    margin-left: 85px;
    margin-bottom: 0px;
  }
  .main__theme p:not(:last-child) {
    font-size: 12px;
    margin: 0;
  }
  .main__theme p:nth-child(5) {
    font-size: 10px;
    margin-top: 20px;
  }
  .main__theme h3 {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0;
  }
  .main__theme h2 {
    display: none;
  }
  .main__theme li {
    font-size: 10px;
    padding-top: 20px;
    width: 210px;
  }
  .information__block {
    display: none;
  }
  .information__date-mobile {
    display: block;
    font-size: 12px;
    margin-top: 0;
  }
  .information__place-mobile {
    display: block;
  }
}

.main__contacts {
  margin-left: 180px;
  margin-top: 30px;
  grid-area: contacts;
}

.main__contacts p {
  font-size: 13px;
  font-family: 'plumbM', sans-serif;
  max-width: 225px;
}

.main__contacts ul {
  list-style: none;
  padding: 0;
}

.main__contacts ul li a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-family: 'plumbR', sans-serif;
}

@media screen and (max-width: 1080px) {
  .main__contacts {
    margin: 100px 0 0 0;
    grid-area: contacts;
    background-color: #2FA6DD;
  }
  .main__contacts p {
    padding-top: 50px;
    font-size: 24px;
    font-family: 'plumb-regular', sans-serif;
    max-width: 500px;
    color: #FFFFFF;
    padding-left: 100px;
  }
  .main__contacts ul {
    max-width: 700px;
    -webkit-column-gap: 25px;
            column-gap: 25px;
    margin-left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
  }
  .main__contacts ul li a {
    color: #FFFFFF;
    font-size: 28px;
  }
}

@media screen and (max-width: 840px) {
  .main__contacts {
    max-width: 360px;
    margin-top: 20px;
    grid-area: contacts;
    background-color: #2FA6DD;
  }
  .main__contacts p {
    margin: 0;
    padding-top: 20px;
    font-size: 12px;
    font-family: 'plumb-regular', sans-serif;
    max-width: 500px;
    color: #FFFFFF;
    padding-left: 25px;
  }
  .main__contacts ul {
    margin: 0;
    -webkit-column-gap: 5px;
            column-gap: 5px;
    padding: 0 25px 25px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
  }
  .main__contacts ul li a {
    color: #FFFFFF;
    font-size: 12px;
  }
}

.main__partners {
  margin-top: 40px;
  margin-left: 180px;
  grid-area: partners;
}

.partners__wrapper {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__wrapper p {
  font-family: 'plumbR', sans-serif;
  font-size: 15px;
}

.partners__logo {
  width: 120px;
}

.partners__logo1 {
  width: 120px;
}

.partners__logo2 {
  width: 100px;
}

@media screen and (max-width: 1080px) {
  .main__partners {
    margin: 650px auto 0 auto;
    grid-area: partners;
  }
  .partners__wrapper {
    padding-left: 20px;
    -webkit-column-gap: 140px;
            column-gap: 140px;
    row-gap: 40px;
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .partners__wrapper p {
    font-family: 'plumb-regular', sans-serif;
    font-size: 20px;
  }
  .partner {
    max-width: 380px;
  }
  .partners__logo {
    width: 100%;
  }
  .partners__logo1 {
    width: 280px;
  }
  .partners__logo2 {
    width: 190px;
  }
}

@media screen and (max-width: 840px) {
  .main__partners {
    max-width: 360px;
    margin-top: 240px;
    grid-area: partners;
  }
  .partners__wrapper {
    padding-left: 0px;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    row-gap: 10px;
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .partners__wrapper p {
    font-family: 'plumb-regular', sans-serif;
    font-size: 10px;
  }
  .partners__logo {
    width: 130px;
  }
  .partners__logo1 {
    width: 100px;
  }
  .partners__logo2 {
    width: 80px;
  }
}

.main__innovation {
  margin-top: 25px;
  margin-left: 180px;
}

.innovation__wrapper {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.innovation__wrapper p {
  font-family: 'plumbR', sans-serif;
  max-width: 200px;
  font-size: 13px;
  color: #999999;
}

@media screen and (max-width: 1080px) {
  .main__innovation {
    margin: 60px auto 0 auto;
  }
  .main__innovation .innovation__wrapper {
    padding: 0 15px 0 15px;
    max-width: 865px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 110px;
            column-gap: 110px;
  }
  .main__innovation p {
    font-size: 14px;
    color: black;
    max-width: 180px;
  }
}

@media screen and (max-width: 840px) {
  .main__innovation {
    max-width: 360px;
    margin: 20px 0 0 0;
  }
  .main__innovation .innovation__wrapper {
    padding: 0;
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  .main__innovation p {
    font-size: 6px;
    color: black;
    max-width: 270px;
  }
}

body {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

@media screen and (min-width: 2000px) {
  body {
    background-size: contain;
  }
}

@media screen and (max-width: 1080px) {
  body {
    max-width: 1080px;
    background-image: url("../img/mobile_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    background-position-y: 0px;
    background-position-y-background-size: auto;
  }
}

@media screen and (max-width: 840px) {
  body {
    margin: auto;
    max-width: 360px;
    background-image: url("../img/mobile_bg2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
    background-size: auto;
  }
}
/*# sourceMappingURL=style.css.map */