.main__contacts
 margin-left: 180px
 margin-top: 30px
 grid-area: contacts
 p
  font-size: 13px
  font-family: 'plumbM', sans-serif 
  max-width: 225px
 ul
  list-style: none
  padding: 0
  li
   a
    font-size: 16px
    text-decoration: none
    color: black
    font-family: 'plumbR', sans-serif 
@media screen and ( max-width: 1080px )
 .main__contacts  
  margin: 100px 0 0 0
  grid-area: contacts
  background-color: #2FA6DD
  p
   padding-top: 50px
   font-size: 24px
   font-family: 'plumb-regular', sans-serif 
   max-width: 500px
   color: #FFFFFF
   padding-left: 100px
  ul
   max-width: 700px 
   column-gap: 25px
   margin-left: 100px
   display: flex
   flex-wrap: wrap
   list-style: none
   li
    a
     color: #FFFFFF
     font-size: 28px


@media screen and ( max-width: 840px )
 .main__contacts
  max-width: 360px   
  margin-top: 20px 
  grid-area: contacts
  background-color: #2FA6DD
  p
   margin: 0   
   padding-top: 20px
   font-size: 12px
   font-family: 'plumb-regular', sans-serif 
   max-width: 500px
   color: #FFFFFF
   padding-left: 25px
  ul
   margin: 0
   column-gap: 5px
   padding: 0 25px 25px 25px
   display: flex
   flex-wrap: wrap
   list-style: none
   li
    a
     color: #FFFFFF
     font-size: 12px     
     
