.header
 max-width: 1105px
 margin: 15px auto 0 auto
 display: flex
 justify-content: space-between
 &__download
  margin-top: 15px
  margin-right: 180px
  display: flex
  flex-direction: column
 &__download-link
  text-decoration: none
  color: black
  font-family: 'plumb', sans-serif
  font-size: 15px 
 p
  margin-bottom: 0 
  margin-left: 180px
  font-size: 13px
  font-family: 'plumb-regular', sans-serif
 &__download-mobile  
  display: none

@media screen and ( max-width: 1080px ) 
 .header
  margin-top: 30px
  max-width: 1080px
  p
   display: none
  &__download
   display: none
  &__download-mobile  
   display: flex
   margin-left: auto
   margin-right: auto
   column-gap: 10px
 .mobile__download-link
  font-family: 'plumbR', sans-serif
  font-size: 16px 
  display: block
  text-decoration: none
  color: #FFFFFF
  transform: skew(30deg) 
 .download-bg
  display: flex
  justify-content: center
  align-items: center
  width: 280px
  height: 55px
  transform: skew(330deg)
  background: #39A3DC


@media screen and ( max-width: 840px ) 
 .header
  margin-top: 10px
  max-width: 360px
  margin-bottom: 0
  p
   display: none
  &__download
   display: none
  &__download-mobile  
   display: flex
   margin-left: auto
   margin-right: auto
   column-gap: 10px
 .mobile__download-link
  font-size: 8px 
  display: block
  text-decoration: none
  color: #FFFFFF
  transform: skew(30deg) 
 .download-bg
  display: flex
  justify-content: center
  align-items: center
  width: 145px
  height: 22px
  transform: skew(330deg)
  background: #39A3DC  
  