.main__innovation
 margin-top: 30px
.innovation__wrapper
 display: flex
 justify-content: space-between
 p
  font-family: 'plumb-regular', sans-serif 
  max-width: 200px
  font-size: 11px
  color: #999999
 p:last-child
  color: black
  background-color: #F5D1D4 
  max-width: 26px