.main
 width: 745px
 margin: 30px 0 0 630px
 .conference
  font-family: 'plumb-medium', sans-serif
  font-weight: 400
  font-size: 26px
  background-color: #F5D1D4
  width: 168px
 &__information
  display: flex
  justify-content: space-between
 h1
  font-family: 'plumb-bold', sans-serif
  margin: 0
  max-width: 427px
  font-weight: bold
  font-size: 50px
  line-height: 50px
 &__theme 
  h2
   font-family: 'plumb-bold', sans-serif
   max-width: 420px
   color: #2FA6DD
   font-size: 38px
  p
   font-size: 14px
   font-family: 'plumb-medium', sans-serif 
   margin: 0
   width: 110px
   font-size: 15px
   background-color: #F5D1D4
  ul
   margin: 0
   list-style-type: '-'
   padding-left: 4px
  li
   font-size: 13px
   font-family: 'plumb-regular', sans-serif 
   padding-top: 20px
   width: 270px
.information__date
 font-family: 'plumb-bold', sans-serif 
 font-size: 29px
 margin-top: 0
.information__block p:not(:last-child)
 font-family: 'plumb-medium', sans-serif   
 width: 95px
 font-size: 26px
 background-color: #F5D1D4
 margin: 0
.information__block p:last-child
 font-size: 20px
 margin: 0
 font-family: 'plumb-regular', sans-serif 
